* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #4d34db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.home_big,
.home_small {
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
  height: 100vh;
  overflow: hidden;
  padding: 100px 0px;
}

.home_small {
  display: none;
  padding: 30px 0px;

}

.page_center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image img {
  height: 100%;
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding-right: 130px;
}

.heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: right;
  color: #240D57;
}

.text_gradient {
  line-height: 74px;
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subHeading {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #4F4F4F;
}

.action {
  border: none;
  outline: none;
  width: 320px;
  height: 55px;
  border-radius: 10px;
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-top: 16px;
  color: #ffffff;
}



.action:active {
  transform: scale(0.95);
}

/* Create page */
.create {
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding: 100px 0px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_form {
  width: 80%;
}

.invalid-feedback {
  display: block;
  margin-bottom: 1rem;
}

.invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input {
  height: 50px;
}

.object-contain {
  object-fit: contain;
}

input:focus {
  box-shadow: none !important;
}

.date_range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.date_range .react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  border-radius: 0.375rem;
  border: 1px solid;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;

}

.date_range p {
  margin-bottom: 0px;
  margin-top: 8px;
  color: #dc3545;
}

.date_range input {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* event page */

.event {
  height: 100vh;
  width: 100%;
  /* overflow-y: auto; */
  overflow-x: hidden;
  background: #FBFAFF;
  padding-left: 100px;
  margin: 0;
  padding-right: 100px;
}

.event .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event_heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #240D57;
  cursor: pointer;
}

.event_image img {
  width: 100%;
}

.detail_date {
  height: 56px;
  width: 100%;
  display: flex;
}

.icon {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

}

.icon_box {
  height: 56px;
  width: 56px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.icon svg {
  height: 26px;
  width: 26px;
}

.text {
  width: 80%;
  margin-left: 20px;
  font-size: 18px;
}

@media(max-width:992px) {
  .home_small {
    display: block;
  }

  .home_big {
    display: none;
  }

  .row {
    justify-content: center;
  }

  .heading {
    text-align: center;
    font-size: 40px;
    line-height: 10px;
    width: 573px;
  }

  .subHeading {
    width: 440px;
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
  }

  .image {
    height: auto;
  }

  .image img {
    width: 250px;
    object-fit: contain;
  }

  .action {
    width: 270px;
    height: 45px;
    font-size: 18px;
  }

  .event .left {
    order: 2;

  }

  .event .right {
    order: 1;
  }

  .event_image {
    align-items: center;
  }

  .event_image img {
    height: 450px;
    width: 450px;
    object-fit: cover;
  }



  .event_heading {
    font-size: 30px;
  }

  .text {
    font-size: 15px;
  }

  .left {
    padding: 0;
    align-items: center;
  }

  .left .inner {
    width: 450px;
  }
}

@media(max-width:500px) {
  .column {
    padding: 0
  }

  .event {
    padding-left: 0;
    padding-right: 0;
  }

  .event .right {
    margin-top: -15px;
  }

  .event_image img {
    width: 100%;
  }

  .left .inner {
    width: 100% !important;
    padding: 10px 20px;
  }
}